<header>

  <% if current_user.nil? %>
    <h1>Find my tutor</h1>
    <a href="#signup-anchor" class="button-main">Sign up</a>

  <% elsif current_user.has_role? :tutor %>
    <h1>Find my student</h1>
    <div class="search-home">
      <form action="/student_profiles" method="get">
        <input type="text" class="form-control" name="search" placeholder="enter subject or suburb...">
        <button type="submit">search</button>
      </form>
    </div>
  <% elsif current_user.has_role? :student %>
    <h1>Find my tutor</h1>
    <div class="search-home">
      <form action="/tutor_profiles" method="get">
        <input type="text" class="form-control" name="search" placeholder="enter subject or suburb...">
        <button type="submit">search</button>
      </form>
    </div>
  <% end %>
</header>
<article>
  <h2>About find my tutor</h2>
  <p>Find my tutor is completely free for students. Simply sign up and choose the student plan and you are away. Search for tutors in your local area or who teach the subjects you want to learn, and you're off and learning. Message tutors to find out more about them, and connect with tutors who suite your needs.</p>
  <p>Find my student is a great way for tutors to connect with students. Tutors sign up to the basic plan which gives you unlimited messaging and searching for students. With the basic plan you can connect with up to three students and set up to fifty homework tasks. If you need more, you can sign up to our premium plan which gives you the capacity to have unlimited <span id="signup-anchor"></span>students and set an unlimited number of homework tasks. Track your students performance and connect with your students or their parents to help them achieve the skills they need to succeed.</p>
  <div class="pricing-plans">
    <div class="free-plan">
      <h2>Free Plan</h2>
      <ul>
        <li>STUDENTS</li>
        <li>Free listing</li>
        <li>Unlimited messaging</li>
        <li>Unlimited tutors</li>
        <li>Unlimited homework tasks</li>
      </ul>
        <label class="amount">
          <h3>Amount: FREE</h3>
        </label>
        <div class="plan-stripe">
          <script src="https://checkout.stripe.com/checkout.js"></script>
          <button id="customButton" class="stripe-button-el">
          <span style="display: block; min-height: 30px;"><%= link_to 'Student signup', new_user_registration_path %></span>
          </button>
        </div>
    </div>
    <div class="basic-plan">
      <h2>Basic Plan</h2>
      <ul>
        <li>TUTORS</li>
        <li>Free listing</li>
        <li>Unlimited messaging</li>
        <li>Up to three students</li>
        <li>Up to fifty homework tasks</li>
      </ul>
      <%= form_tag charges_path do %>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <label class="amount">
            <h3>Amount: $3.99/month</h3>
          </label>
          <div class="plan-stripe">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="A month's subscription"
                data-amount="399"
                data-locale="auto"></script>
          </div>
      <% end %>
    </div>
    <div class="premium-plan">
      <h2>Premium Plan</h2>
      <ul>
        <li>TUTORS</li>
        <li>Free listing</li>
        <li>Unlimited messaging</li>
        <li>Unlimited students</li>
        <li>Unilimited homework tasks</li>
      </ul>
      <%= form_tag charges_path do %>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <label class="amount">
            <h3>Amount: $14.99/month</h3>
          </label>
          <div class="plan-stripe">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="A month's subscription"
                data-amount="1499"
                data-locale="auto"></script>
          </div>
      <% end %>
    </div>
  </div>
  <div class="headshots">
  <ul>
    <li>
      <label>
        <input type="checkbox" />
        <div class="tutor_view">
          <%= image_tag "headshot01.jpg" %>
          <h3>Lorem Ipsum</h3>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
      <figure>
        <%= image_tag "headshot01.jpg" %>
      </figure>
      <h3>Lorem Ipsum</h3>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox"/>
        <div class="tutor_view">
          <%= image_tag "headshot02.jpg" %>
          <h3>Lorem Ipsum</h3>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
      <figure>
        <%= image_tag "headshot02.jpg" %>
      </figure>
      <h3>Lorem Ipsum</h3>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    </label>
    </li>
    <li>
      <label>
        <input type="checkbox"/>
        <div class="tutor_view">
          <%= image_tag "headshot03.jpg" %>
          <h3>Lorem Ipsum</h3>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
      <figure>
        <%= image_tag "headshot03.jpg" %>
      </figure>
      <h3>Lorem Ipsum</h3>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </label>
    </li>
  </ul>
  </div>
</article>
