<main>
  <% if current_user.has_role? :tutor %>
    <div class="profile">
      <div class="set-homework">
        <%= simple_form_for(@homework) do |f| %>
          <%= f.error_notification %>
        <dl>
          <dt>
            <h3>Set <%= @profile.first_name %> a homework task</h3>
          </dt>
            <%= f.input :student_profile_id, as: :hidden, input_html: { value: @profile.id } %>
          <dd>
            <%= f.input_field :question, as: :text, input_html: { class: "profile-inputs" } %>
          </dd>
          <dt>
            <h3>Homework due date:</h3>
          </dt>
          <dd>
            <%= f.date_field :due_date %>
          </dd>
        </dl>
            <%= f.button :submit, class: 'message' %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="assignment-table">
    <h2><%= current_user.has_role?(:tutor) ? 'Assignments for ' : 'Assignments set by ' %><%= @profile.first_name %></h2>
    <table>
      <thead>
        <tr>
          <th>Created</th>
          <th>Due on</th>
          <th>Finished on</th>
          <th>Completed?</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        <% @homeworks.each do |homework| %>
        <tr data-href="<%= homework_path(homework) %>">
          <td><%= homework.created_at.strftime('%a %d %b %Y') %></td>
          <td><%= homework.due_date.strftime('%a %d %b %Y') unless homework.due_date.nil? %></td>
          <td><%= homework.completed_date.strftime('%a %d %b %Y') unless homework.completed_date.nil? %></td>
          <td><%= homework.completed ? "Yes" : "No" %></td>
          <td><%= homework.result %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>
