  <nav>
      <%= link_to root_path  do %>
        <%= image_tag "book-16-xxl.png", id: "logo" %>
      <% end %>
      <ul>
      <% if current_user %>
        <li class="<%= active_class(relationships_path) %>">
          <%= link_to current_user.has_role?(:tutor) ? "my students" : "my tutors", relationships_path %>
        </li>

        <% if unread_messages(current_user.id).nil? || unread_messages(current_user.id).empty? %>
          <li class="<%= active_class(messages_path) %>">
            <%= link_to "messages", messages_path %>
          </li>
        <% else %>
          <li class='unread'>
            <%= link_to "messages", messages_path, class: 'unread'%>
          </li>
        <% end %>

        <% if current_user.has_role?(:tutor) %>
          <li class="<%= active_class(student_profiles_path) %>">
          <%= link_to "search", student_profiles_path %>
          </li>
        <% elsif current_user.has_role?(:student) %>
          <li class="<%= active_class(tutor_profiles_path) %>">
            <%= link_to "search", tutor_profiles_path %>
          </li>
        <% end %>


        <% if current_user.has_role? :tutor %>
          <li class="<%= active_class(edit_tutor_profile_path(current_user)) %>">
            <%= link_to "my profile", edit_tutor_profile_path(current_user)  %>
          </li>
        <% elsif current_user.has_role? :student %>
          <li class="<%= active_class(edit_student_profile_path(current_user)) %>">
            <%= link_to "my profile", edit_student_profile_path(current_user)  %>
          </li>
        <% end %>
        <li class="<%= active_class(destroy_user_session_path) %>">
          <%= link_to "signout", destroy_user_session_path, :method => 'delete'%>
        </li>

      <% else %>
        <li class="<%= active_class(new_user_session_path) %>" style="font-size: 2em;">
          <%= link_to "login", new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </nav>
